.circle__spinner {
  width: 20vh;
  height: 20vh;

  & .path {
    stroke: white;
    stroke-linecap: round;
    animation: dash 3s linear forwards;
    animation-delay: 2.5s;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 130, 150;
    stroke-dashoffset: 0;
  }
}
