@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes move-up-from-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes lose-width {
  0% {
    width: 40px;
  }
  100% {
    width: 0;
  }
}

@keyframes lose-width-complete {
  0% {
    max-width: 600px;
  }
  100% {
    max-width: 0;
  }
}

@keyframes lose-height {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -300vh;
  }
}

@keyframes hidde {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}

@keyframes move-down {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(0);
  }
}
